.cardContainer {
    height: 128px;
    width: 128px;
}

.cardContent {
    border: 1px solid #add8e6;
    border-radius: 5px;
    margin: 5px;
    padding: 16px;
    text-align: center;
}

.cardHeader {
    border-bottom: 1px solid #add8e6;
    font-size: 15px;
    font-weight: bold;
    margin: 0 10px;
    padding: 15px;
}

.cardFooter {
    line-height: 2.5;
}