.cardContainer {
  border: 1px solid #add8e6;
  border-radius: 5px;
  height: 240px;
  width: 150px;
}

.cardContent {
  /* margin: 5px; */
  padding: 16px;
  text-align: center;
}

.cardHeader {
  height: 64px;
  /* border-bottom: 1px solid #add8e6;
  font-size: 15px;
  font-weight: bold;
  margin: 0 10px;
  padding: 15px; */
}

.cardFooter {
  border-top: 1px solid #add8e6;
  margin-top: 16px;
}

.cardFooterContent {
  margin-top: 16px;
}

.extraInfo {
  margin-bottom: 25px;
}
